.app-icon {
    font-size: 24px;
    color: white !important;
}

.menu-lable{
    color: white !important;
}

.badge-notify {
    background: rgba(255, 255, 255, 0.4);
    color: white !important;
    border: solid 1px rgb(25, 135, 84);
    border-radius: 24px;
    position: relative;
    bottom: -5px;
    left: -10px;
}

.right-list li{
    list-style-type: none;
}