a {
    text-decoration: none;
    color: black;
}

.card{
    margin: 5px;
}


  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
   
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }

  .container-fluid{
    background-color: #e1e1e1;
    height: 100%;
  }
  
 