<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card mt-3">
                <div class="card-header bg-success">
                    <div class="row">
                        <b class="col-md-9">Orders</b>
                    </div>
                </div>
                <div class="card-body">
                    <div class="border p-3">
                        <div class="row fw-bold">
                            <div class="col col-md-1">Id</div>
                            <div class="col col-md-2">Date</div>
                            <div class="col col-md-3">Shipping Address</div>
                            <div class="col col-md-2">Quantity</div>
                            <div class="col col-md-2">Price</div>
                            <div class="col col-md-2 text-center">Actions</div>
                        </div>
                        <ng-container
                            *ngFor="let order of orderList | paginate:{itemsPerPage:5,currentPage:p}">
                            <div class="row border p-1">
                                <div class="col col-md-1">{{order.purchaseOrderId}}</div>
                                <div class="col col-md-2">{{order.orderDate | date:'medium'}}</div>
                                <div class="col col-md-3">
                                    <div class="row">{{order.address.address1}}, {{order.address.address2}}</div>
                                    <div *ngIf="order.address.address3" class="row">{{order.address.address3}}</div>
                                    <div class="row">{{order.address.city}}, {{order.address.state}}</div>
                                    <div class="row">{{order.address.country}} - {{order.address.zipCode}}</div>
                                </div>
                                <div class="col col-md-2">{{order.cart.noOfItems}}</div>
                                <div class="col col-md-2">&#8377; {{order.cart.totalCartPrice}}</div>
                                <div class="col col-md-2 text-center">
                                    <a class="btn btn-success" href="/user/order/{{order.purchaseOrderId}}">View</a>
                                </div>
                            </div>
                        </ng-container>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>